body {
    background-color: #f5f5f5;
    margin-top: 20px;
    padding-left: 8%;
}

.mainBlock {
    box-shadow: 0 0 10px 0 rgb(129 137 149);
    border: 1px solid #ecedef;
    background-color: white;
    position: relative;
    border-radius: .25rem .25rem .25rem .25rem;
    /* height: 280px; */
    overflow: hidden;
    width: 90%;
    padding-bottom: 10px;
    margin-top: 80px;
    margin-bottom: 10px;
    align-items: center;
}

.section {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.navigationBar {
    z-index: 2;
    /* overflow: hidden; */
    background-color: #131313d3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
} 

.navigationBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  
.navigationBar a:hover {
    background: #ddd;
    color: black;
}

.dropdown {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    min-width: 100px;
}

.dropbtn {
    background-color: rgba(76, 175, 79, 0);
    color: white;
    text-align: center;
    padding: 14px;
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: black;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover {
    background-color: #ddd;
}

html {
    height: 100%;
    font-family: cursive;
    text-decoration: none;

}

.searchbar {
    position: relative;
    width: 50%;
    padding: 2.5px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 25%;
    background-color: #f3f3f3a8;
    border: 1px solid #292929;
    border-radius: .5rem .5rem .5rem .5rem;
}

.recipe {
    background-color: #efefef;
    width: 291px;
    height: 300px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(129 137 149);
    border: 1px solid #ecedef;
    border-radius: 2rem 2rem 2rem 2rem;
    margin-top: 0;
    margin-left: 18px;
    margin-bottom: 20px;
    /* margin-right: 20px; */
}

.recipe figure {
    align-items: center;
}

.search {
    width: 100%;
}

img {
    /* border: 2px solid #a3a3a3; */
    border-radius: 2rem 2rem .5rem .5rem;
}

h4:hover {
    text-decoration: none;
}

.recipe-a {
    padding-top: 40px;
    height: 100%;
    color: #000000d3;
    text-decoration: none;
}

.recipe-a:hover {
    color: black;
    text-decoration: none;
}

.recipeForms {
    height: 100%;
    /* padding-top: 40px; */
    cursor: pointer;
}

.noMatch {
    font-size: x-large;
    padding-left: 52px;
}